//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {


    
ul.logoSectionContainer {

	li {
	width: 100%;
	float: none;
	text-align: center;

		h6 {
		margin: 15px 0 !important;	
		}

	}

}

h1.titleWord {
text-align: center;
font-size: 12px;
margin-left: 45px !important;
position: absolute;
top: 70px !important;	
}



.navbar-header {
text-align: center; 
padding: 10px 0;   
}

.navbar-default .navbar-toggle {
border-color: #2e2e2e !important;
margin: 0px auto !important;
display: inline-block;
float: none;
background-color: #2e2e2e;
.border-radius(0);

        .icon-bar {
        background-color: #fff !important;    
        }

}

.navbar-brand {
display: none;    
}


.navbar {

    .navbar-header {
    display: block;    
    }

    ul.nav {

        li {
        margin-bottom: 1px;
        display: block;    

            a {
            padding: 10px 0;
            text-align: center;
            background-color: @black; 
            display: block;
            color: @white;    
            }

            ul.dropDownList {
            position: static;
            width: 100%;

                li {

                    a {
                    background-color: #000;    
                    }

                }

            }

        }

    }

}





.mainBannerSection {

	ul {

		li {

			img {
			width: 100%;
			height: auto;	
			}

			.bannerTitleSection {
			display: none;	
			}

			ul.bannerImgListings {
			display: none;	
			}

		} 

	}


	.pagingContainer {
	display: none;	
	}

	ul.flex-direction-nav {
	display: none;	
	}

}


ul.callToActionList {

	li {
	text-align: center;
	padding: 0;
	float: none;
	border-left: 0;

		h2 {
		font-size: 20px !important;	
		}

		i.cartIcon {
    	margin: 2px  0 30px 0 !important;	
    	}

	}

}
.algurgLogo {
	display: block;
	text-align: center;
	img {
		width: auto;
	}
}

.saleNaboutSection {
background-image: none;	

	.saleSection {
	width: 100%;
	float: none;
	min-height: 252px !important;
	img {
		width: 100% !important;
	}

		h2 {
		font-size: 105px;	
		}

		h3 {
		font-size: 105px;	
		}

		h4 {
		font-size: 25px;

			span {
			font-size: 40px;	
			}

		}

	}

	.aboutSection {
	width: 100%;
	float: none;

		.content {
		padding: 15px 0;	
		}

	}

}


.borderedTilte {

	h2 {
	font-size: 17px;	
	}

}
 

ul.shopEverydayListing {

	li {

		h3 {
		font-size: 14px;	
		}

	}

}


.assistanceFormContainer {
width: 100%;

	.content {
	padding: 15px;

		p {
		margin-bottom: 15px;	
		}
	
		.form-group {
		margin-bottom: 15px;	
		}

	}

}


.letsTalkSection {
padding: 0;
margin: 20px 0;

	h2 {
	color: @white;	
	}

	p {
	color: @white;	
	}

}


ul.tabNavigation {

	li {
	float: none;
	margin-bottom: 10px;
	margin-left: 0;


		&:hover, &.active {

			a {

				span {
				display:none;	
				}

			}

		}	


		a {
		display: block;	
		}

	}

}

.tabContentContainer {
margin: 10px 0 0 0;	
}


footer {

	.footerFix {

		.leftPanel {
		width: 100%;
		float: none;	
		}

		.rightPanel {
		width: 100%;
		float: none;
		text-align: center;


			ul.socialIcons {
			display: inline-block;	
			}


		}

	}

}


ul.footerLinks {
display: none;	

	li {
	width: 100%;
	float: none;
	text-align: center;	
	}

}


.copyRight {

	p {
	text-align: center !important;	
	}

}


.imgHold {
margin-bottom: 15px;	
}

.contactFormContainer {
padding: 15px;

	.form-horizontal {

		.form-group {

			label {
			padding-left: 15px;	
			}

		}

	}

}


ul.sliderImageTextListing {
padding: 20px; 

	li {
	padding: 20px 0;	
		
		.productPreviewSliderContainer {
		padding: 0;
		margin-bottom: 15px;	
		}

	}

}

.productPreviewSliderContainer {
padding: 0;
margin-bottom: 15px;	
}



ul.pagination {
margin: 20px 0 0 0;	
}


.checkBoxSection {
margin: 20px 0 0 0;	
}


.checkBoxSection {

	.checkbox-inline {
	display: block;
	margin-bottom: 10px;	
	}

}


.shopEverydaySection {
padding: 25px 0;	
}


.readMoreBttn {
margin-bottom: 15px;	
}

ul.leftPanelNavigationSection {
margin-bottom: 15px;	
}


.styleGroupsSectionDetail {

	.contentContainer {
	padding: 30px 0;	
	}

}


.styleGroupsSection {

	.contentContainer {
	padding: 50px 0;	
	}

	ul.bannerImgListings {

		li {
		margin-bottom: 15px;	
		}

	}

}


.thankYouContainer {
padding: 50px 0;	
}


ul.topLinks {
margin-top: 25px;	

	li {

		a {
		font-size: 10px;	
		}

	}

}
.searchSection {
	margin-left: 0 !important;
}


    
}
// media queries ends here 
// =============================================