//
// Responsive: Tablet Portrait
// ----------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {


.logo {
display: block;

	img {
	width: 100%;
	height: auto;	
	}

}

.searchSection {
	margin:25px 0 0 0 !important;
}
.algurgLogo {
	text-align: center;
	display: block;

	img {
	width: auto;
	height: auto;	
	}

}


ul.logoSectionContainer {

	li {

		&.center {

			h6 {
			margin: 15px 0 0 5px;	
			}

		}

	}

}


.navbar {

	ul.nav {

		li {

			a {
			padding: 9px 12px;	
			}

		} 

	}

}



.mainBannerSection {

	.pagingContainer {
	left: 19%;
	bottom: 20px;	
	}


	ul.flex-direction-nav {

		li {

			a {

				&.flex-prev {
				bottom: 20px;	
				}

				&.flex-next {
				bottom: 20px;	
				}

			}

		}

	}



	.bannerTitleSection {

		p {
		padding-left: 215px;	
		}

	}


	ul {

		li {

			img {
			width: 100%;
			height: auto;	
			}

			.bannerContentSection {
			display: none;	
			}


		}

	}

}


ul.callToActionList {
display: inline-block;
margin: 0px auto;	

	li {
	width: 46%;
	text-align: center;	

		i.cartIcon {
		margin-left: 0;	
		}

		i.locateIcon {
		margin-left: 0;	
		}

	}

}



.saleNaboutSection {
background-position: -205px 0;
}


.saleNaboutSection {

	.aboutSection {

		.content {
		padding: 30px 15px;	
		}

	}

}


.assistanceNletsTalkSectionContainer {
background-image: none;
background-color: #0063b4;	
}


.assistanceFormContainer {
width: 100%;

	.content {

		.form-group {
		margin-bottom: 15px;	
		}

		p {
		margin-bottom: 15px;	
		}

	}

}


.letsTalkSection {
padding: 0;
margin: 25px 0;	

	h2 {
	color: #fff;	
	}

	p {
	color: #fff;	
	}

}


ul.placeListings {

	li {

		.content {

			h2 {
			text-align: center;	
			}

			p {
			text-align: center;	
			}

		}

	}

}


.checkBoxSection {
margin: 10px 0 0 0;	
}


ul.sliderImageTextListing {

	li {

		.productPreviewSliderContainer {
		padding: 0px 25px;
		
			.productPreviewSlider {

				ul.flex-direction-nav {

					li {

						a {

							&.flex-prev {
							left: -25px;	
							}

							&.flex-next {
							right: -25px;	
							}

						}

					}

				}

			}

		}

	}

}



.productPreviewSliderContainer {
padding: 0px 25px;

	.productPreviewSlider {

		ul.flex-direction-nav {

			li {

				a {

					&.flex-prev {
					left: -25px;	
					}

					&.flex-next {
					right: -25px;	
					}

				}

			}

		}

	}

}



.styleGroupsSection {
min-height: 305px;	

	.contentContainer {
	padding: 47px 0 0 0;	
	}

}


ul.bannerImgListings {

	li {

		.textContentContainer {

			.content {

				.discriptionTextContainer {
				display: none;	
				}

			}

		}

	}

}


.thankYouContainer {
padding: 50px 0;	
}


.shopEverydaySection {
padding: 20px 0;	
}


ul.shopEverydayListing {

	li {

		h3 {
		font-size: 13px;	
		}

	}

}


.filterSerchDropdown {

	h3 {
	font-size: 16px;
	margin: 6px 0 0 0;	
	}

}


footer {
padding: 20px 0;


	.footerFix {

		.leftPanel {
		width: 100%;
		float: none;
		margin: 0 15px;	
		}

		.rightPanel {
		width: 100%;
		float: none;
		margin: 0 15px;	
		}

	}

}


ul.footerLinks {
margin-bottom: 15px;	

		li {
		width: 25%;	


			h2 {
			margin-top: 15px;	
			}

		}

}


.copyRight {

	p {
	text-align: center !important;	
	}

}
h1.titleWord {
.cendiaR();
font-size: 14px;
text-transform: uppercase;
margin: 5px 0 15px 15px;
padding: 0;
color: @black; 
line-height: 22px; 
font-weight: 500;  
position: absolute;
top: 65px;
}

ul.topLinks {
	margin: -30px 0 0 0;

	li {

		a {
		font-size: 11px;	
		}

	}

}
.idDesignCollectionContainer {
	min-height: 313px !important;
}
.saleSection{
	width: 100% !important;
}

.aboutSection{
	width: 100% !important;
	background: #fff !important;
}


}
// media queries ends here 
// ==================================