//
// Responsive: Tablet Portrait
// ----------------------------------------------

@media (min-width: 980px) and (max-width: 1199px) {



.logo {
display: block;

	img {
	width: 100%;
	height: auto;	
	}

}


.algurgLogo {

	img {
	width: 100%;
	height: auto;	
	}

}



ul.topLinks {

	li {

		a {
		font-size: 12px;	
		}

	}

}


ul.callToActionList {

	li {
	width: 50%;
	text-align: center;

		i.cartIcon {
		margin-left: 0;	
		}

		i.locateIcon {
		margin-left: 0;	
		}

	}

}

.readMoreBttn {
padding: 10px 21px;	
}


.filterSerchDropdown {

	h3 {
	font-size: 19px;	
	}

}


.thankYouContainer {
padding: 50px 0;	
}


.letsTalkSection {
padding: 0 0 0 10px;	
}



}
// media queries ends here 
// ==================================