// Uicreep 
// For custom styling of the website
//=============================================
// Let the building of site begin 
// ============================================
a {
    outline:0;
    border:0;
    outline:none;
   &:focus,&:active {
        outline:none !important;
        border:0;
   }
}


/*Font Faces
====================================================*/

@font-face {
    font-family: 'Bliss2Regular';
    src: url('../../fonts/bliss2r-kopi.eot');
    src: url('../../fonts/bliss2r-kopi.eot') format('embedded-opentype'),
         url('../../fonts/bliss2r-kopi.woff2') format('woff2'),
         url('../../fonts/bliss2r-kopi.woff') format('woff'),
         url('../../fonts/bliss2r-kopi.ttf') format('truetype'),
         url('../../fonts/bliss2r-kopi.svg#Bliss2Regular') format('svg');
}

@font-face {
    font-family: 'Bliss2Light';
    src: url('../../fonts/bliss2l-kopi.eot');
    src: url('../../fonts/bliss2l-kopi.eot') format('embedded-opentype'),
         url('../../fonts/bliss2l-kopi.woff2') format('woff2'),
         url('../../fonts/bliss2l-kopi.woff') format('woff'),
         url('../../fonts/bliss2l-kopi.ttf') format('truetype'),
         url('../../fonts/bliss2l-kopi.svg#Bliss2Light') format('svg');
}


@font-face {
    font-family: 'Bliss2Bold';
    src: url('../../fonts/bliss2b-kopi.eot');
    src: url('../../fonts/bliss2b-kopi.eot') format('embedded-opentype'),
         url('../../fonts/bliss2b-kopi.woff2') format('woff2'),
         url('../../fonts/bliss2b-kopi.woff') format('woff'),
         url('../../fonts/bliss2b-kopi.ttf') format('truetype'),
         url('../../fonts/bliss2b-kopi.svg#Bliss2Bold') format('svg');
}


@font-face {
    font-family: 'cendiaregular';
    src: url('../../fonts/cendia-webfont.eot');
    src: url('../../fonts/cendia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cendia-webfont.woff2') format('woff2'),
         url('../../fonts/cendia-webfont.woff') format('woff'),
         url('../../fonts/cendia-webfont.ttf') format('truetype'),
         url('../../fonts/cendia-webfont.svg#cendiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cendiabold';
    src: url('../../fonts/cendia_bold-webfont.eot');
    src: url('../../fonts/cendia_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cendia_bold-webfont.woff2') format('woff2'),
         url('../../fonts/cendia_bold-webfont.woff') format('woff'),
         url('../../fonts/cendia_bold-webfont.ttf') format('truetype'),
         url('../../fonts/cendia_bold-webfont.svg#cendiabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Font Faces
====================================================*/



/*Font Mixins
=================================================*/


.blissR(){
font-family: 'Bliss2Regular';   
}

.blissL(){
font-family: 'Bliss2Light';   
}

.blissB(){
font-family: 'Bliss2Bold';   
}

.cendiaR(){
font-family: 'cendiaregular';   
}

.cendiaB(){
font-family: 'cendiabold';   
}


.opensans(){
font-family: 'Open Sans', sans-serif;   
}


/*Font Mixins
=================================================*/

body {
background-repeat: repeat; 
background-color:@white !important;
margin:0;
padding:0;
line-height:18px;
.blissR();
width:100%;
height:100%;
overflow-x: hidden;


h1 {
.blissB();
font-size: 34px;
margin: 0 0 10px 0;
padding: 0; 
color: @black;
text-transform: capitalize;
line-height: 47px;
font-weight: bold;
}

h2 {
.blissL();
font-size: 24px;
margin: 0 0 15px 0;
padding: 0; 
color: @black;
text-transform: capitalize;
}


h3 {
.blissB();
font-size: 18px;
font-weight: normal;
margin: 0 0 15px 0;
padding: 0; 
color: @fontColor;
}

h4 {
.blissB();
font-size: 16px;
font-weight: normal;
margin: 0 0 20px 0;
padding: 0; 
color: @black;
text-transform: capitalize;
}

h5 {
.blissL();
font-size: 14px;
font-weight: normal;
margin: 0 0 15px 0;
padding: 0; 
color: @fontColor;
}


h6 {
.blissL();
font-size: 13px;
line-height: 22px;
margin: 0 0 20px 0; 
text-align: justify;
color: @fontColor;
font-style: normal;
font-weight: normal;
}


p {
.blissL();
font-size: 16px;
line-height: 22px;
margin: 0 0 20px 0; 
text-align: justify;
color: @fontColor;
font-weight: normal;

        a {
        color: @fontColor !important;
        text-decoration: none !important;
            
            &:hover {
            text-decoration:none !important;   
            }   

        }

}


a {
color: @fontColor;
    
    &:hover {
    text-decoration:none !important; 
    color: @fontColor;  
    }   

}



}

/*End Of Body STyle
====================================================*/


// Let the building of site begin 
// ============================================


/*Header Section
=====================================================*/

header {
margin:0;
padding: 15px  0 0 0;
.clearfix();
background-color: @white;    
}


ul.logoSectionContainer {
margin: 0;
padding: 0;
list-style: none;
.clearfix();


        li {
        width: 25%;
        float: left;


            &.center {

                h6 {
                text-align: center;
                .blissL();
                font-size: 14px;
                color: #968383;
                line-height: 32px; 
                margin: 32px 0 0 10px;     
                }

            }

            .algurgLogo {
            position: relative;
            top: -10px;    
            }


        }
 

}

h1.titleWord {
.cendiaR();
font-size: 16px;
text-transform: uppercase;
margin: 5px 0 15px 15px;
padding: 0;
color: @black; 
line-height: 22px; 
font-weight: 500;  
}


.navigationSection {
background-color: #f7f7f7;
padding: 0px 0;
.clearfix();    
}


ul.topLinks {
margin: 0;
padding: 0;
list-style: none;
.clearfix();
display: inline-block;
float: right;

        li {
        float: left;
        margin-left: 5px;
        border-left: 1px solid #a7a7a7;
        line-height: 12px;

            &:first-child {
            margin-left: 0; 
            border-left: 0;   
            }

            a {
            .blissR();
            padding: 0 5px;
            font-size: 13px;
            text-transform: uppercase;
            color: #a7a7a7;    
            }

        }

}


.searchSection {
margin: 14px 0 0 0;
padding: 0;
.clearfix();


        .form-group {
        margin: 0 0 0px 0;
        padding: 0;
        position: relative;


                input.form-control {
                background: #dddede;
                padding: 0 10px;
                .cendiaR();
                font-size: 14px;
                font-style: italic;
                color: #999999;
                .box-shadow(none);
                border: 0;
                .placeholder(@color: #666);
                height: 32px;
                font-weight: normal;
                .border-radius(0);    
                }

                input.zoomIcon {
                background-image: url('@{sprite}');
                background-position: 0 0;    
                height: 11px;
                width: 11px;
                cursor: pointer;
                border: 0;
                position: absolute;
                top: 10px;
                right: 10px;
                background-repeat: no-repeat;
                display: inline-block;
                background-color: transparent;
                }


        }
    

}



/*Navigation Section Starts Here
===============================================*/


.NavigationSection {
margin: 0px 0 0 0;
padding: 0;
.clearfix();    
}


.navbar {
background-image: transparent;
border-top: none !important;
border-left: none !important;
border-right: none !important;
border-bottom: none !important;
margin-bottom: 0px !important;
background-color: #f7f7f7 !important;
min-height: 40px !important;
text-align: center;



        .navbar-header {
        display: none;    
        }
        

        .navbar-collapse {
        padding: 0;  
        }


        ul.nav {
        margin: 0px auto;
        padding: 0;
        display: block;
        text-align: center;
        width: 100%;

                li {
                position: relative;
                display: inline-block;
                float: none;

                        

                        &:first-child {

                            a {
                            border-left:0;  
                            }

                        }

                        
                        &:hover, &.active {

                            a {
                            background-color: transparent ;
                            color: #555555; 
                            background-image: transparent ;
                            }

                            span {
                            display: none;  
                            }

                        }

                
                        a {
                        .blissR();
                        font-size: 15px;
                        padding: 9px 27px;
                        display: block;
                        border: 0;
                        background-color: transparent;
                        text-transform: uppercase;
                        .transition(all ease 0.5s);
                        outline: 0;
                        color: #555555;
                        }


                        ul.dropDownList {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        min-width: 200px;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        z-index: 99;
                        display: none;

                            li {
                            margin-bottom: 1px;

                                &:hover {

                                    a {
                                    background-color:@black; 
                                    color: @white !important;   
                                    }

                                }
                            
                                a {
                                background-color: @white;
                                color: @black !important;
                                text-align: left;
                                min-width: 300px;
                                padding: 15px;
                                }

                            }

                        }


                }

        }

}




/*Navigation Section Ends Here
===============================================*/




/*Header Section
=====================================================*/


/*Main Banner Section
=====================================================*/

.mainBannerSection {
margin: 0;
padding: 0;
.clearfix();
position: relative;

    
    ul.flex-direction-nav {


        li {

              a {

                  &.flex-prev {
                  background-image: url('@{sprite}');
                  background-position:  -14px 0px; 
                  width: 59px;
                  height: 55px;
                  position: absolute;
                  bottom: 10px;
                  top: auto;
                  left: 7.5%;
                  display: inline-block; 
                  outline: 0; 
                  }

                  &.flex-next {
                  background-image: url('@{sprite}');
                  background-position:  -74px 0px; 
                  width: 59px;
                  height: 55px;
                  position: absolute;
                  bottom: 10px;
                  top: auto;
                  left: 11.85%;
                  display: inline-block; 
                  outline: 0; 
                  }

              }

        }


    }

    .pagingContainer {
    padding: 0px 20px;
    background-color: @black;
    position: absolute;
    left: 16%;
    bottom: 10px;
    .clearfix(); 
    color: @white;
    z-index: 9999;
    height: 55px;
    line-height: 52px;
    margin-left: 4px;   
    }

        
    ul {

          li {
          position: relative;
          max-height: 494px;
          

                .bannerTitleSection {
                background-image: url('@{BASEURL}bg/black-bg.png');
                background-repeat: repeat;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                .clearfix();

                    .contentContainer {
                    padding: 15px 0;
                    .clearfix();

                            p {
                            color: @white;
                            margin: 0;    
                            }

                    }

                }


                .bannerContentSection {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                .clearfix();

                    .contentContainer {
                    padding: 30px 0 0 0;
                    .clearfix();    
                    }

                }


          }  

    }


}


ul.bannerImgListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

    li {
    position: relative;
    .clearfix();


            &:hover {

                .imgHold {

                    img {
                    .scale(1.2);    
                    }

                }

            }


            .imgHold {
            overflow: hidden;    

                img {
                .scale(1);
                .transition (all ease 0.5s);    
                }

            }


            .textContentContainer {
            position: absolute;
            z-index: 9;
            width: 100%;
            bottom: 2px;
            left: 0;
            padding: 0 15px;
            overflow: hidden;

                .content {
                padding: 2px;
                overflow: hidden;
                .clearfix();

                    .discriptionTextContainer {
                    padding: 10px;
                    background-image: url('@{BASEURL}bg/white-trans-bg.png');
                    background-repeat: repeat;
                    .clearfix(); 
                    position: relative;
                    bottom: -163px;


                            .moreArrow {
                            background-image: url('@{sprite}');
                            background-position: -138px 0;
                            width: 11px;
                            height: 7px;
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            display: inline-block;    
                            } 


                            h2 {
                            .cendiaR();
                            font-style: italic;
                            font-size: 18px;
                            margin: 0 0 10px 0;
                            text-align: left;
                            font-weight: 500;

                                a {
                                color: @black;
                                text-decoration: none;    
                                }

                            }

                            .readMore {
                            .cendiaR(); 
                            font-size: 15px;
                            text-align: left !important;   
                            }

                            p {
                            height: 109px;    
                            }


                    }

                }

            }

    }

}


/*Main Banner Section
=====================================================*/


/*Call to Action Listings
======================================================*/

.callToActionBoxContainer {
background-color: #f3f3f3;
padding: 40px 0;
margin: 0;
.clearfix();    
}


ul.callToActionList {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

    
      li {
      float: left;
      border-left: 1px solid #ccc;
      .clearfix();
      padding: 0 45px;
      cursor: pointer;
      .opacity(0.6);
      .transition (all ease 0.5s);


            &:hover {
            .opacity(1);    
            }


            &:first-child {
            padding-left:0;
            border-left:0;    
            }


            h2 {
            .cendiaR();
            font-style: italic;
            font-size: 28px;
            color: #777777;
            margin: 0;
            text-transform: none;
            line-height: 35px;
            display: inline-block;
            position: relative;
            top: -15px;

                span {
                color: @black;    
                }

                
            }

            i.cartIcon {
            background-image: url('@{sprite}');
            background-position: -153px 0;
            width: 98px;
            height: 97px;
            display: inline-block;
            position: relative;
            top: 6px;
            margin-left: 25px;    
            }

            i.locateIcon {
            background-image: url('@{sprite}');
            background-position: -258px 0;
            width: 98px;
            height: 97px;
            display: inline-block;
            position: relative;
            top: 6px;
            margin-left: 25px;    
            }

      }  


}

/*Call to Action Listings
======================================================*/


/*Sale and About Section
===============================================*/

.saleNaboutSection {
margin: 0;
padding: 0;
.clearfix();
background-image: url('@{BASEURL}bg/sale-about-bg.jpg');
background-repeat: repeat-y; 

    
        .saleSection {
        background-color: #2c2c2c;
        background-image: url('@{BASEURL}/bg/salebanner-right-img.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        min-height: 480px;
        width: 50%;
        float: left; 
        text-align: center;

            h2 {
            font-size: 135px;
            color: #717171;
            .blissL();
            text-align: center;
            margin: 50px 0 0 0;
            padding: 0 0 11px 0;
            border-top: 1px solid #393939;
            border-bottom: 1px solid #393939;
            line-height: 125px;
            display: inline-block; 
            text-transform: uppercase;   
            }

            h4 {
            font-size: 45px;
            color: #717171;
            .blissL();
            text-align: center;
            margin: 10px 0;
            display: inline-block;
            text-transform: uppercase; 

                    span {
                    font-size: 60px;    
                    }

            }


            h3 {
            font-size: 135px;
            color: #717171;
            .blissL();
            text-align: center;
            margin: 0px 0 0 0;
            padding: 0 0 11px 0;
            border-top: 1px solid #393939;
            border-bottom: 1px solid #393939;
            line-height: 125px;
            display: inline-block; 
            text-transform: uppercase; 
            letter-spacing: 20px;  
            }


            p {
            color: #727272;
            .blissL();
            text-align: center;
            font-size: 16px;
            margin: 0; 
            border-bottom: 1px solid #393939;
            padding: 10px 0; 
            display: inline-block;  
            }



        }


        .aboutSection {
        width: 50%;
        float: right;
        .clearfix();

            .content {
            padding: 65px;
            .clearfix();

                h2 {
                .blissB();
                text-transform: uppercase;
                font-size: 34px;
                color: @black;
                text-align: center;    
                }


                p {
                text-align: center;    
                }

                .readMore {
                font-size: 22px;
                text-align: center;
                color: @black;
                .blissR(); 
                display: block;   
                }


                h6 {
                padding: 25px 0;
                font-size: 16px;
                .blissR();
                font-style: italic;
                border-top: 1px solid #999999;
                border-bottom: 1px solid #999999;
                text-align: center; 
                margin-top: 20px;   
                }


            }

        }


}


/*Sale and About Section
===============================================*/


/*ID Design Collection Section
==================================================*/

.idDesignCollectionContainer {
background-image: url('@{BASEURL}bg/collections-bg.jpg');
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 414px;    
}


.collectionConatiner {
margin: 0;
padding: 60px 0;
.clearfix();
text-align: center;

    h2 {
    .blissL();
    font-size: 24px;
    color: @black;
    text-transform: uppercase;    
    }

    p {
    text-align: center;    
    }

}


ul.collectionListings {
margin: 15px 0 0 0;
padding: 0;
list-style: none;
.clearfix();

        
        li {
        .clearfix();
        cursor: pointer;


            &:hover {

                .imgHold {

                    img {
                    .scale(1.2);    
                    }

                }

            }

        
            .imgHold {
            .border-radius(5px);
            margin-bottom: 25px;
            overflow: hidden;
            
                img {
                .scale(1);
                .transition( all ease 0.5s);    
                }

            }

            h3 {
            font-style: 18px;
            margin-bottom: 5px;
            }

        }


}


/*ID Design Collection Section
==================================================*/


/*Shop Every Day Section
==================================================*/

.shopEverydaySection {
padding: 55px 0;
.clearfix();    
margin: 0;
}

.borderedTilte {
height: 1px;
background-color: #e7e7e7;
text-align: center;
margin: 0 0 25px 0;

        
        &.small {

            h2 {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px; 
            top: -8px; 
            font-weight: bold;  
            }

        }


        h2 {
        background-color: #fff;
        padding: 0 15px;
        font-size: 24px;
        text-transform: uppercase;
        .blissL();
        text-align: center;
        display: inline-block;
        position: relative;
        top: -15px;    
        }

}


ul.shopEverydayListing {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

    li {
    .clearfix();


        &:hover {

            h3 {
            background-color:#000;
            color: @white;

                span {
                color: @white;    
                }

            }

        }

    
        h3 {
        background-color: #f1f1f1;
        .blissL();
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
        color: @black;
        cursor: pointer;
        .transition (all ease 0.5s);

            span {
            text-transform: lowercase; 
            color: #bbbbbb;
            .transition (all ease 0.5s);   
            }

        }

    }

}



/*Shop Every Day Section
==================================================*/


/*New Arrival Slider Section
==================================================*/

.newArrivalSliderContainer {
margin: 0 0 0 0;
padding: 0;
.clearfix();    
}



.newArrivalSlider {
margin: 0 0 30px -15px;
padding: 0;
.clearfix();
position: relative;


        
        &.youMayLike {


            ul.flex-direction-nav {


                li {

                      a {

                          &.flex-prev {
                          background-image: url('@{BASEURL}icons/newarrival-sliderarrow-left.png');
                          width: 30px;
                          height: 7px;
                          position: absolute;
                          top: -190px;
                          left: auto;
                          right: 25px;
                          display: inline-block; 
                          outline: 0; 
                          }

                          &.flex-next {
                          background-image: url('@{BASEURL}icons/newarrival-sliderarrow-right.png');
                          width: 30px;
                          height: 7px;
                          position: absolute;
                          top: -190px;
                          right: 0px;
                          display: inline-block; 
                          outline: 0; 
                          }

                      }

                }


            }


            .imgHold {
            border: 1px solid #ccc;
            margin-bottom: 20px;    
            }

        }

        

        ul.flex-direction-nav {


            li {

                  a {

                      &.flex-prev {
                      background-image: url('@{BASEURL}icons/newarrival-sliderarrow-left.png');
                      width: 30px;
                      height: 7px;
                      position: absolute;
                      top: -327px;
                      left: 12px;
                      display: inline-block; 
                      outline: 0; 
                      }

                      &.flex-next {
                      background-image: url('@{BASEURL}icons/newarrival-sliderarrow-right.png');
                      width: 30px;
                      height: 7px;
                      position: absolute;
                      top: -327px;
                      right: 0px;
                      display: inline-block; 
                      outline: 0; 
                      }

                  }

            }


        }



        ul {
        margin: 0;
        list-style: none;
        .clearfix();
        padding: 0;

            li {
            .clearfix();
            position: relative;
            text-align: center;
            cursor: pointer;


                &:hover {

                    .content {

                        .imgHold {

                            img {
                            .scale(1.2);    
                            }

                        }    


                        .textContentContainer {

                            .content {

                                .discriptionTextContainer {

                                     h2 {
                                     font-weight: 500;
                                     font-size: 18px;   
                                     }

                                }

                            }

                        }

                    }

                }
            
                .content {
                margin-left: 15px;


                    .imgHold {
                    overflow: hidden;    

                        img {
                        .scale(1);
                        .transition (all ease 0.5s);    
                        }

                    }


                    .textContentContainer {
                    position: absolute;
                    z-index: 9;
                    width: 100%;
                    bottom: 2px;
                    left: 0;
                    padding: 0 0px;
                    overflow: hidden;

                        .content {
                        padding: 2px;
                        overflow: hidden;
                        .clearfix();

                            .discriptionTextContainer {
                            padding: 10px;
                            background-image: url('@{BASEURL}bg/white-trans-bg.png');
                            background-repeat: repeat;
                            .clearfix(); 
                            position: relative;
                            bottom: -146px;


                                    .moreArrow {
                                    background-image: url('@{sprite}');
                                    background-position: -138px 0;
                                    width: 11px;
                                    height: 7px;
                                    position: absolute;
                                    top: 15px;
                                    right: 15px;
                                    display: inline-block; 
                                    display: none;   
                                    } 


                                    h2 {
                                    .cendiaR();
                                    font-style: italic;
                                    font-size: 16px;
                                    margin: 0 0 10px 0;
                                    text-align: center;

                                        a {
                                        color: @black;
                                        text-decoration: none;    
                                        }

                                    }

                                    p {
                                    text-align: center;    
                                    }

                                    .readMore {
                                    .cendiaR(); 
                                    font-size: 15px;
                                    text-align: center !important; 

                                        span {
                                        display: inline-block;
                                        margin-left: 5px;    
                                        }

                                    }


                            }

                        }

                    }


                }

            }

        }

}

/*New Arrival Slider Section
==================================================*/


/*Assistance and Lets Talk Section
====================================================*/

.assistanceNletsTalkSectionContainer {
margin: 0;
padding: 0;
.clearfix();
border-top: 1px solid #e5e5e5; 
background-image: url('@{BASEURL}bg/blue-bg.png'); 
background-repeat: repeat-y;  
}


.assistanceSection {
background-image: url('@{BASEURL}bg/color-bg.jpg');
background-repeat: repeat-y;
min-height: 290px;
.clearfix();   
}


.assistanceFormContainer {
background-image: url('@{BASEURL}bg/white-trans-bg.png');
background-repeat: repeat;
width: 90%;
.clearfix();
margin: 22px 0 0 0;

    .content {
    padding: 30px 40px;
    .clearfix(); 


        h2 {
        .blissR();
        font-size: 21px;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        color: @black;    
        }

        p {
        color: #969192;
        margin: 0;    
        }

        .form-group {
        margin: 0 0 0px 0;
        padding: 0;
        position: relative;


                span {
                position: absolute;
                top: -14px;
                right: 0px;
                font-size: 10px;    
                }


                input.form-control {
                background: @white;
                padding: 0 10px;
                .cendiaR();
                font-size: 14px;
                font-style: italic;
                color: #999999;
                .box-shadow(none);
                border: 1px solid #c7c7c7;
                .placeholder(@color: #e1e1e1);
                height: 27px;
                font-weight: normal;
                .border-radius(0);    
                }

                textarea.form-control {
                background: @white;
                padding: 10px;
                font-style: italic;
                .cendiaR();
                font-size: 14px;
                color: #999999;
                .box-shadow(none);
                border: 1px solid #c7c7c7;
                .placeholder(@color: #e1e1e1);
                height: 50px;
                font-weight: normal; 
                .border-radius(0);   
                }


        }


    }

}

.sendButton {
background-color: @black;
padding: 5px 50px;
.clearfix();
color: @white;
font-size: 16px;
text-transform: uppercase;
text-align: center;
cursor: pointer; 
border: 0;   
}


.letsTalkSection {
margin: 45px 0 0 0;
padding: 0 0 0 45px;
.clearfix(); 

    h2 {
    .cendiaR(); 
    text-transform: uppercase;
    color: #000;
    font-size: 31px;
    margin-bottom: 5px;   
    }

    .form-group {
        margin: 0 0 0px 0;
        padding: 0;
        position: relative;


                input.form-control {
                background: @white;
                padding: 0 10px;
                .cendiaR();
                font-size: 14px;
                font-style: italic;
                color: #999999;
                .box-shadow(none);
                border: 1px solid #c7c7c7;
                .placeholder(@color: #e1e1e1);
                height: 37px;
                font-weight: normal;
                .border-radius(0);    
                }


        }

}


.subscribeBttn {
background-color: @black;
background-image: url('@{BASEURL}icons/subscribe-arrow.png');
background-position: right 18px;
background-repeat: no-repeat; 
padding: 10px 50px;
color: @white;
text-align: center;
display: inline-block; 
border: 0; 
margin: 15px 0 0 0;
.blissR();
font-size: 16px;
cursor: pointer;
text-transform: uppercase; 
}


/*Assistance and Lets Talk Section
====================================================*/


/*Location Section Container
======================================================*/

.locationSectionContainer {
padding: 50px 0;
margin: 0;
.clearfix();    
}


ul.tabNavigation {
margin: 0;
padding: 0;
list-style: none;
.clearfix(); 

    li {
    float: left;
    margin-left: 10px;


        &:first-child {
        margin-left:0;    
        }


        &:hover, &.active, &:focus {

            a {
            background-color: @black;
            color: @white;
            border: 3px solid #000;
            text-decoration: none; 

                span {
                display: block;    
                }

            }

        }    


        a {
        .blissB();
        font-size: 20px;
        font-weight: bold;
        color: #656565;
        border: 3px solid #e4e6e6;
        .border-radius(20px);
        padding: 5px 30px;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        .transition (all ease 0.5s);

            span {
            background-image: url('@{BASEURL}icons/tab-arrow.png');
            width: 20px;
            height: 10px;
            display: inline-block;
            position: absolute;
            bottom: -13px;
            left: 0;
            right: 0;
            margin: 0px auto;
            display: none;    
            }

        }

    }

}


.tabContentContainer {
margin: 30px 0 0 0;
.clearfix();    
}


ul.placeListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

    
        li {
        .clearfix();
        
            .content {
            background-color: #f8f7f7;
            border: 7px solid #ebeded;
            padding: 20px;
            .clearfix();
            min-height: 162px;

                h2 {
                font-size: 15px;
                .blissB();    
                }

                p {
                margin-bottom: 10px;
                
                    &.norMarginB {
                    margin-bottom: 0;    
                    }

                }

            }

        }


}

.getDirection {
text-decoration: underline !important;
display: inline-block;
margin-left: 5px;

    span {

    }

}


/*Location Section Container
======================================================*/


/*footer Section
=====================================================*/

footer {
padding: 40px 0 15px 0;
background-color: #f2f2f2;
.clearfix();
margin: 0 0 0 0;

        .footerFix {
        .clearfix();
        

                .leftPanel {
                width: 84%;
                float: left;
                .clearfix();    
                }

                .rightPanel {
                width: 16%;
                float: right;
                .clearfix();

                    h2 {
                    font-size: 13px;
                    color: #010101;
                    text-transform: uppercase;
                    .blissB();
                    margin-bottom: 10px;
                    line-height: 18px;    
                    }

                }


        }

}


ul.footerLinks {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

        
        li {
        width: 13%;
        float: left;
        .clearfix();

        &:last-child {
        width:17%;    
        }

                h2 {
                font-size: 12px;
                color: #010101;
                text-transform: uppercase;
                .blissB();
                margin-bottom: 10px;
                line-height: 18px;    
                }

                ul.links {
                margin: 0;
                padding: 0;
                list-style: none;
                .clearfix();

                        li {
                        float: none;
                        width: 100%;

                            a {
                            padding: 2px 0;
                            display: block;
                            font-size: 13px;
                            text-transform: inherit;
                            color: #777777;
                            .blissR();    
                            }

                        }

                }

        }


}


ul.socialIcons {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

     li {
     float: left;
     margin-left: 5px;

        &:first-child {
        margin-left:0;    
        }

     }   

}


.copyRight {
border-top: 1px solid #d9d9d9;
padding: 10px 0 0 0;
.clearfix(); 
margin: 40px 0 0 0;

        p {
        margin: 0;
        font-size: 13px;
        text-transform: inherit;
        color: #9a9a9a;
        margin-left: -15px;

            &.right {
            margin-right: -15px;
            margin-left: 0;
            text-align: right;    
            }

        }

}


/*footer Section
=====================================================*/


/*Bread Crumbs Sections
=====================================================*/

.breadCrumbsContainer {
padding: 15px 0;
margin: 0;
.clearfix();
background-color: #dddede;    
}

ul.breadCrumbList {
margin: 0;
padding: 0;
.clearfix();
list-style: none;

        li {
        float: left;
        margin-left: 3px;

                a {
                padding: 0 3px;
                .blissL();
                font-size: 14px;
                color: #808080;    
                }

        }

}

/*Bread Crumbs Sections
=====================================================*/


/*Inner Banner Section
=====================================================*/

.innerBannerSection {
background-image: url('@{BASEURL}bg/inner-page-banner.jpg');
background-position: top center;
min-height: 72px; 
.clearfix(); 

        h2 {
        font-size: 27px;
        .blissB();
        font-weight: bold;
        color: @white;
        text-transform: uppercase;
        margin: 20px 0 0 0;    
        }

}

/*Inner Banner Section
=====================================================*/


/*Inner Pages Styles
=====================================================*/

.innerMainContentWrapper {
padding: 25px 0 25px 0;
margin: 0 0 25px 0;
.clearfix();
border-bottom: 1px solid #d9d9d9; 

        h2 {
        font-size: 20px;
        text-transform: inherit;
        .blissB();    
        }

}


h3.borderedTitle {
margin: 0 0 15px 0;
padding: 0 0 10px 0;
.clearfix();
border-bottom: 1px solid #ccc;
.blissB();
font-size: 18px;    
}


ul.textListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

        li {
        padding: 15px 0;
        .clearfix();
        border-bottom: 1px solid #e7e7e7;


            &:first-child {
            padding-top:0;    
            }


            h3 {
            color: #0e0e0e; 
            .blissR();
            font-size: 16px;   
            }

            p {
            margin: 0;
            color: #666666;    
            }

        }

}


ul.pagination {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

    
    &.right {
    float: right;    
    }    


    li {
    float: left;
    margin-left: 1px;

        &:first-child {
        margin-left:0;    
        }

        &:hover, &.active {

            a {
            background-color: #000;
            color: #fff;    
            }

        }
    
        a {
        padding: 2px 15px;
        background-color: @white;
        .blissB();
        font-size: 18px;
        text-transform: uppercase;
        color: @black;
        display: block;
        .transition (all ease 0.5s);    
        }

    }

}


ul.serviceListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

    li {
    margin: 0;
    padding: 0;
    .clearfix();
    border-top: 1px solid #e7e7e7;

        &:last-child {
        border-bottom:1px solid #e7e7e7;    
        }

        a {
        padding: 10px 0;
        .blissR();
        font-size: 16px;
        display: block;    
        }

    }

}



ul.imageBlockListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();


    &.gallery {


        li {

            .content {

                h2 {
                position: static;
                display: block;
                font-size: 16px;

                    a {

                        span {
                        right: -15px;
                        bottom: -10px;    
                        }

                    }

                }

            }

        }

    }    


    li {
    .clearfix();
    margin-bottom: 30px;


        &.norMargin {
        margin-bottom: 0;    
        }


        &:hover {

            .content {

                .imgHold {

                    img {
                    .scale(1.2);    
                    }

                }

            }

        }

    
        .content {
        position: relative;


            .imgHold {
            overflow: hidden;
            
                img {
                .scale(1);
                .transition (all ease 0.5s);    
                }

            }
        

            h2 {
            padding: 10px 15px;
            display: inline-block;
            background-color: @black;
            .blissB();
            font-size: 24px;
            color: @white;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0; 

                a {
                color: @white;
                text-decoration: none;
                position: relative;
                display: block;

                    span {
                    padding: 10px 18px;
                    display: inline-block;
                    background-color: #e9e9e9;
                    position: absolute;
                    top: -10px;
                    right: -66px;    
                    }

                }

            }


        }

    }

}




ul.proMotionListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

        li {
        padding: 15px 0;
        .clearfix();


            &:last-child {
            border-bottom: 1px solid #e7e7e7;    
            }


            &:first-child {
            padding-top: 0;    
            }


            h3 {
            color: #0e0e0e; 
            .blissB();
            font-size: 16px; 
            text-transform: uppercase;
            margin-bottom: 5px;  
            }

            p {
            color: #666666;    
            }

        }

}


.readMoreBttn {
margin: 0;
padding: 10px 25px;
display: inline-block;
background-color: @black;
color: @white;
text-transform: uppercase;
font-size: 16px;
.blissL(); 

    span {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;    
    }


    &:hover {
    color: @white;    
    }


}



ul.bulletListing {
margin: 0 0 15px 0;
padding: 0;
list-style: none;
.clearfix();

    li {
    padding: 5px 0 5px 18px;
    background-image: url('@{BASEURL}icons/bullet-img.png');
    background-repeat: no-repeat;
    background-position: 0 12px;
    .blissL();
    font-size: 16px;    
    }

}



ul.sliderImageTextListing {
margin: 0;     
padding: 0; 
list-style: none;
.clearfix();

    li {
    padding: 50px 0;
    .clearfix();
    border-bottom: 1px solid #ccc;

        &:first-child {
        padding-top:0;    
        }


        .productPreviewSliderContainer {
        padding: 0 70px;
        .clearfix();

            .productPreviewSlider {
            .clearfix();
            position: relative;


                ul.flex-direction-nav {


                    li {

                          a {

                              &.flex-prev {
                              background-image: url('@{sprite}');
                              background-position:  -399px 0px; 
                              width: 18px;
                              height: 65px;
                              position: absolute;
                              top: 95px;
                              left: -55px;
                              display: inline-block; 
                              outline: 0; 
                              }

                              &.flex-next {
                              background-image: url('@{sprite}');
                              background-position:  -431px 0px; 
                              width: 18px;
                              height: 65px;
                              position: absolute;
                              top: 95px;
                              left: auto;
                              right: -55px;
                              display: inline-block; 
                              outline: 0; 
                              }

                          }

                    }


                }

            
                ul {
                margin: 0;
                
                    li {
                    padding: 0;
                    border:0;     
                    }

                }

            }

        }


    }

}





.productDetailsSliderSection {
margin: 0;
padding: 0;
.clearfix();
position: relative;  
}


.productMainimgSection {
margin: 0;
padding: 0;
.clearfix();
border: 1px solid #ccc;   
}


.productThumbimgSection {
margin: 15px 0;
width: 100%;
position: relative;

        
    ul {
    margin: 0;
    padding: 0;
    list-style: none;
    .clearfix();
    border-bottom: 0;

        li {
        
            .imgHold {
            margin-right: 10px;
            border:1px solid #ccc;   
            }

        }

    }

}

h3.big {
.blissL();
font-size: 20px;
text-transform: uppercase;
color: @black;    
}

h3.price {
.blissL();
font-size: 28px;
text-transform: uppercase;
color: @black;
margin-bottom: 30px;

    span {
    .blissB();
    font-weight: bold;    
    }

}


.youMayLikContentWrapper {
padding: 20px 0;
margin: -20px 0 20px 0;
.clearfix();
border-bottom: 1px solid #ccc; 

    h2 {
    text-transform: uppercase;
    font-size: 20px;
    .blissB();
    margin-bottom: 25px;    
    }

}


ul.youMayLikeListing {
margin: 0;
list-style: none;
padding: 0;
.clearfix();

    li {
    .clearfix();
    text-align: center;
    
        .imgHold {
        border: 1px solid #ccc;
        margin-bottom: 20px;    
        }

        h2 {
        color: #484848;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 0 3px 0;
        text-align: center;    
        }

        .viewDetail {
        text-align: center;
        .blissL();
        font-size: 16px;    
        }

    }

}



ul.leftPanelNavigationSection {
margin: 0;
padding: 0;
list-style: none;
.clearfix();
    
    li {
    border-bottom: 1px solid #e7e7e7;
    .clearfix();


        &:hover, &.active, &:focus {

            a {
            color: @black;
            text-decoration: none;

                span {
                display: inline-block;    
                }

            }

        }


        &:first-child {
        border-top: 1px solid #e7e7e7;    
        }


        a {
        padding: 15px 0;
        display: block;
        .blissR();
        font-size: 16px;

            span {
            background-image: url('@{BASEURL}icons/nav-arrow.png');
            width: 11px;
            height: 10px;
            display: inline-block;
            margin-right: 10px;
            display: none;    
            }

        }

    }

}


.titleCenter {
padding: 30px 0 30px 0;
.clearfix();
.blissL();
font-size: 22px;
margin: 0;
text-align: center;
line-height: 28px;    
}


.styleGroupsSection {
background-image: url('@{BASEURL}bg/style-group-bg.jpg');
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 457px; 


    .contentContainer {
    padding: 50px 0 0 0;    
    }
    

}


.styleGroupsSectionDetail {
background-image: url('@{BASEURL}bg/style-groups-detail-img.jpg');
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 461px;
margin-top: 30px; 


    .contentContainer {
    padding: 100px 0 0 0;    
    }
    

}


.productPreviewSliderContainer {
padding: 0 70px;
.clearfix();

    .productPreviewSlider {
    .clearfix();
    position: relative;
    padding: 15px;
    background-color: #f6f6f6;


        ul.flex-direction-nav {


            li {

                  a {

                      &.flex-prev {
                      background-image: url('@{sprite}');
                      background-position:  -399px 0px; 
                      width: 18px;
                      height: 65px;
                      position: absolute;
                      top: 95px;
                      left: -55px;
                      display: inline-block; 
                      outline: 0; 
                      }

                      &.flex-next {
                      background-image: url('@{sprite}');
                      background-position:  -431px 0px; 
                      width: 18px;
                      height: 65px;
                      position: absolute;
                      top: 95px;
                      left: auto;
                      right: -45px;
                      display: inline-block; 
                      outline: 0; 
                      }

                  }

            }


        }

    
        ul {
        margin: 0;
        
            li {
            padding: 0;
            border:0;  
            &:hover {

                .imgHold {

                    img {
                    .scale(1.2);    
                    }

                }

            }  
            .imgHold {
            .border-radius(5px);
            margin-bottom: 25px;
            overflow: hidden;
            
                img {
                .scale(1);
                .transition( all ease 0.5s);    
                }

            } 
            }

        }

    }

}


.styleGroupTitleSection {
padding: 40px 20px 20px 20px;
background-color: @white;
.clearfix();
position: relative;
.opacity(0.9);

        h2 {
        color: #db6c35;
        .blissB();
        font-size: 45px;    
        }

        p {
        margin: 0;    
        }

        span.colorBg {
        background-image: url('@{BASEURL}bg/style-groups-color-bg.jpg');
        width: 221px;
        height: 31px;
        position: absolute;
        top: 0;
        left: 20px;    
        }

}



.filterSerchDropdown {
margin: 20px 0 0 0;
padding: 0;
.clearfix();

         
        h3 {
        color: @white;
        .blissL();
        margin: 3px 0 0 0;
        font-size: 23px;
        text-transform: uppercase;    
        }


        h4 {
        .blissB();
        margin: 0px 0 15px 0;
        font-size: 18px;
        text-transform: uppercase;    
        }      


        .form-group {
        margin: 0 0 0px 0;
        padding: 0;
        position: relative;


                div.selector {
                background-image: transparent;
                background-repeat: repeat;
                border: 1px solid #ccc;
                box-shadow: none;
                margin: 0; 
                height: 33px;
                line-height: 10px;
                position: relative;
                width: 100% !important;
                text-align: left;
                color: #202020;
                .blissL();
                font-size: 14px;
                text-transform: uppercase;
                background-color: #dddede;

                          span { 
                          text-shadow:none; 
                          padding-left:12px;
                          padding-right:8px;
                          background-image:url('@{BASEURL}icons/dropdown-arrow2.png');
                          background-position: right -3px;
                          background-repeat:no-repeat;
                          height:33px;
                          line-height:29px;
                          .blissL();
                          font-size: 14px;
                          text-transform: uppercase;
                          color: #202020;
                          width: 100% !important;
                          display: block;
                          }
                          
                          select {
                          min-width: 70px;
                          border:0;
                          box-shadow:none;
                          position: absolute;
                          top: 0;
                          left: 0;
                          min-height: 33px;
                          .opacity(0);

                            option {
                            padding: 10px 5px;  
                            }

                          }
                              
                              
                            
                }


        }

}


.checkBoxSection {
margin: 60px 0 0 0;
.clearfix(); 


    .checkbox-inline {
    margin-right: 30px    
    }
    

}


ul.newsListings {
margin: 0;
padding: 0;
list-style: none;
.clearfix();

        li {
        padding: 15px 0;
        .clearfix();
        border-bottom: 1px solid #e7e7e7;


            &:first-child {
            padding-top:0;    
            }


            h3 {
            color: #0e0e0e; 
            .blissR();
            font-size: 16px;
            margin: 0;   
            }

            h6 {
            color: #b3b3b3;
            font-size: 14px;
            margin-bottom: 10px;    
            }

            p {
            margin: 0;
            color: #666666;    
            }


        }

}


.thankYouContainer {
padding: 100px 0;
.clearfix();
text-align: center;

        h2 {
        .blissB();
        font-size: 50px;    
        }

        p {
        margin: 0;
        font-size: 21px;
        text-align: center;    
        }

}


.errorContainer {
margin: 0;
padding: 50px 0;
.clearfix();
text-align: center;


    .imgHold {
    padding: 0 50px;    
    }


    h2 {
    .blissB();
    font-size: 50px; 
    text-align: center;
    margin: 35px 0 10px 0;   
    }

    p {
    margin: 0 0 20px 0;
    font-size: 21px;
    text-align: center;    
    }


}

.goBackToHome {
margin: 0px auto;
display: inline-block;
padding: 10px 25px;
background-color: @black;
color: @white;
.blissB();
text-align: center;
font-size: 16px;

    &:hover {
    color: @white;    
    }

}



.filterSearchContainer {
padding: 20px 0;
background-color: @white;
.clearfix();
border-bottom: 1px solid #d9d9d9;    
}


ul.addressListings {
margin: 0;
list-style: none;
padding: 0;
.clearfix();

    li {
    padding: 15px 0;
    .clearfix();
    border-bottom: 1px solid #c8cbcf;


        &:first-child {
        padding-top: 0;    
        }


        &:last-child {
        border-bottom: 0;   
        }


        h6 {
        .blissB();
        font-size: 17px;
        margin-bottom: 5px;    
        }

        p {
        margin: 0; 
        color: #7a7a7a;
        line-height: 24px;   
        }

    }

}


.contactFormContainer {
padding: 30px;
background-color: #f4f4f4; 
.clearfix();
margin: 0; 


    .form-horizontal {


        .form-group {
        margin: 0 0 2px 0 !important;
        padding: 0;
        position: relative;


                label {
                padding-left: 0;
                padding-top: 10px; 
                text-align: left; 
                .blissR();
                font-size: 17px;
                color: #848484;
                font-weight: normal;  
                }


                input.form-control {
                background: #fafafa;
                padding: 0 10px;
                .cendiaR();
                font-size: 14px;
                font-style: italic;
                color: #999999;
                .box-shadow(none);
                border: 0;
                .placeholder(@color: #666);
                height: 42px;
                font-weight: normal;
                .border-radius(0);    
                }


                textarea.form-control {
                background: #fafafa;
                padding: 0 10px;
                .cendiaR();
                font-size: 14px;
                font-style: italic;
                color: #999999;
                .box-shadow(none);
                border: 0;
                .placeholder(@color: #666);
                height: 100px;
                font-weight: normal;
                .border-radius(0);    
                }



                div.selector {
                background-image: transparent;
                background-repeat: repeat;
                border: 0;
                box-shadow: none;
                margin: 0; 
                height: 42px;
                line-height: 10px;
                position: relative;
                width: 100% !important;
                text-align: left;
                color: #2c2c2c;
                .blissL();
                font-size: 14px;
                text-transform: uppercase;
                background-color: #fafafa;

                          span { 
                          text-shadow:none; 
                          padding-left:12px;
                          padding-right:8px;
                          background-image:url('@{BASEURL}icons/dropdown-arrow3.png');
                          background-position: right 17px;
                          background-repeat:no-repeat;
                          height:42px;
                          line-height:35px;
                          .blissL();
                          font-size: 14px;
                          text-transform: uppercase;
                          color: #2c2c2c;
                          width: 100% !important;
                          display: block;
                          }
                          
                          select {
                          min-width: 70px;
                          border:0;
                          box-shadow:none;
                          position: absolute;
                          top: 0;
                          left: 0;
                          min-height: 33px;
                          .opacity(0);

                            option {
                            padding: 10px 5px;  
                            }

                          }
                              
                              
                            
                }



        }


    }


}



.sendEnquiryBttn {
background-color: @black;
padding: 0 75px 0 30px;
background-image: url('@{BASEURL}icons/enquiry-btn-arrow.png');
background-repeat: no-repeat;
background-position: right 0;
height: 42px; 
border: 0;
cursor: pointer;
color: @white;
.blissR();
text-align: center;
text-transform: uppercase; 
margin: 15px 0 0 0;  
}



/*Inner Pages Styles
=====================================================*/




//===========================Social Slider
.socialSlider{
  display: none;
  background-color: @white;
  width: 100%;
  min-height: 50px;
  padding: 30px 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  border-top: 2px solid rgba(0, 0, 0, 1);
  position: fixed;
  left: 0;
  top:25%;
  z-index: 99999;
  h3{
    color: @black;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .innerSection{
    position: relative;
  }
  a.closeBtn{
    background-color: @black;
    color: @white;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
    top:-30px;
    z-index: 1;
  }
  ul.instagramList{
    width: 100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    .clearfix();
    li{
      display: block;
      width: 33.33%;
      min-width: 10px;
      float: left;
      padding: 2px;
      margin: 0px;
      .box-sizing(border-box);
      a{
        padding: 0px;
        margin: 0px;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .instagramHolder{
    #instagramSlider{
      padding-bottom: 20px;
      .carousel-indicators{
        bottom: -20px;

        li{
          background-color: @black;
          display: inline-block;
          min-width: 5px;
          float: none;
        }
      }
    }
  }
  .newsletter{
    .form-group{
      margin-bottom: 5px;
      .input-group{
        .input-group-addon{
          &.newsletterSignUpBtn{
            background-color: @black;
            color: @white;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.socialBtn{
    position: fixed;
    left: -1px;
    top: 40%;
    z-index: 24;

  &.open{
    i.spriteImg{
      &.socialBtnOpen{
        background-image: url('@{BASEURL}icons/spriteImg.png');      
        background-position:-32px -48px;
        display:block;
      }
    }
  }
  i.spriteImg{
    width: 31px;
    height:92px;
    &.socialBtnOpen{
        background-image: url('@{BASEURL}icons/spriteImg.png');
        width: 31px;
        height:92px;
        display:block;
        background-position:0px -48px;
    }
  }
}


// End of custom styling
// ============================================


/*GLOBAL STYLES
====================================================*/

.imgHold {
display: block;
background-color: @white;

        img {
        width: 100%;
        height: auto;   
        }   


}

.relativeDiv {
position: relative;    
}


.center {
text-align: center; 
}

.right {
text-align: right;  
}

.borderB {
border-bottom: 1px solid #ccc;
padding: 0 0 5px 0; 
}


.marginTop5 {
display: block;
margin-top: 5px;    
}

.marginTop10 {
display: block;
margin-top: 10px !important;    
}

.marginTop15 {
display: block;
margin-top: 15px !important;    
}


.marginTop20 {
display: block;
margin-top: 20px !important;    
}

.marginTop23 {
display: block;
margin-top: 23px;   
}

.marginTop25 {
display: block;
margin-top: 25px;   
}

.marginTop30 {
display: block;
margin-top: 30px !important;   
}

.marginTop35 {
display: block;
margin-top: 35px !important;    
}


.marginBtm1 {
display: block;
margin-bottom: 1px !important;  
}

.marginBtm5 {
display: block;
margin-bottom: 5px !important;  
}

.marginBtm10 {
display: block;
margin-bottom: 10px !important; 
}


.marginBtm15 {
display: block;
margin-bottom: 15px !important; 
}

.marginBtm20 {
display: block;
margin-bottom: 20px !important;    
}

.marginBtm25 {
display: block;
margin-bottom: 25px;    
}

.marginBtm30 {
display: block;
margin-bottom: 30px;    
}


.marginBtm40 {
display: block;
margin-bottom: 40px;    
}


/*GLOBAL STYLES
====================================================*/









