/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Discription Box Styling */
.flexslider .slides  li .discriptionSection { 
margin:0;
padding: 0;
width: 45%;
height: auto;
position: absolute;
top: 10px;
left: 10px;
}

.flexslider .slides  li .discriptionSection h2 { color: #FFF; font-size:34px; line-height: 36px;}
/* Discription Box Styling */

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { float:left; margin: 0 0 0px; background: #fff;  position: relative;  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; position: relative;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0; display: block;}
.flex-direction-nav a {width: 22px; height: 42px; margin: -20px 0 0; display: block; 
	background: url(../../media/dist/icons/mainslider-nav.png) no-repeat 0 0; position: absolute; top: 295px; 
	z-index: 990; cursor: pointer; text-indent: -9999px; opacity: 1; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {/*background-position: 100% 0;*/ right: 5%; background: url(../../media/dist/icons/mainslider-arrow-right.png); }
.flex-direction-nav .flex-prev {left: 5%; background: url(../../media/dist/icons/mainslider-arrow-left.png);}
.flexslider:hover .flex-next {opacity: 0.8; right: 5%;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5%;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; bottom: 40px; left:8%; display: inline-block; z-index: 2;}
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 15px; height: 15px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; 
	border:2px solid #fff; text-align: center; color: #000; border-radius: 10px;}
.flex-control-paging li a:hover { background: #010f47; color: #fff; border: 2px solid #fff; }
.flex-control-paging li a.flex-active { background: #010f47; cursor: default; color: #FFF; border: 2px solid #fff; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}