@media (min-width: 980px) and (max-width: 1199px) {
  .navbar ul.nav li a {
    padding: 8px 15px;
  }
  .bannerSection li .bannerFix .bannerText {
    width: 60%;
    top: 140px;
  }
  h2.liveEntertainment {
    font-size: 25px;
  }
  ul.footerLinks li a {
    padding: 10px 10px;
  }
  .bannerSection li img {
    width: 100%;
    height: auto;
  }
  .specialOfferEventsBox .textContent {
    bottom: 20px;
    left: 20px;
    width: 75%;
  }
  .contentBannerImg .timingBox {
    width: 60%;
    top: 23px;
  }
  .GallerySliderSection .flex-control-nav {
    display: none;
  }
  ul.pageBoxListings li .imgHold .contentBox {
    width: 80%;
  }
  ul.pageBoxListings li .imgHold .contentBox .content h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  ul.pageBoxListings li .imgHold .contentBox .content p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
