@media (min-width: 768px) and (max-width: 979px) {
  .topLinksNCallusContainer {
    width: 35%;
    right: 15px;
  }
  .navbar ul.nav li a {
    padding: 8px 10px;
    font-size: 12px;
  }
  .bannerSection li img {
    width: 100%;
    height: auto;
  }
  .bannerSection li .bannerFix .bannerText {
    width: 50%;
    left: 20px;
    top: 70px;
  }
  .bannerSection li .bannerFix .bannerText h2 {
    font-size: 38px;
  }
  .bannerSection .flex-control-nav {
    bottom: 10px;
  }
  .socialContainerSection {
    padding: 10px;
    width: 90%;
  }
  .socialContainerSection .contentSection {
    padding: 10px;
  }
  .bookNowWidgetContainer {
    width: 45%;
  }
  .rightPanelSection .imgHold {
    width: 48%;
    float: left;
    margin-right: 30px;
  }
  ul.footerLinks li a {
    padding: 10px 5px;
    font-size: 11px;
  }
  h2.liveEntertainment {
    font-size: 20px;
  }
  .specialOfferEventsBox .textContent {
    position: static;
    width: 100%;
  }
  .specialOfferEventsBox .textContent .content h2 {
    font-size: 15px;
  }
  .specialOfferEventsBox .textContent .content p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }
  .contentBannerImg .timingBox {
    position: static;
    width: 100%;
  }
  ul.pageBoxListings li {
    width: 50%;
    float: left;
  }
  ul.pageBoxListings li .imgHold {
    min-height: 200px;
  }
  ul.pageBoxListings li .imgHold img {
    min-height: 200px;
  }
  ul.pageBoxListings li .imgHold .contentBox {
    position: static;
    width: 100%;
  }
  .GallerySliderSection .flex-control-nav {
    display: none;
  }
}
