﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StaticSEO.ascx.vb" Inherits="F_SEO_StaticSEO" %>
<asp:Image ID="Image1" runat="server" Visible="false" ImageUrl="~/Admin/assets/images/icons/SEO.jpg" />
<asp:Label ID="lblSEO" runat="server" Text=""></asp:Label>