﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="HTML_4.ascx.vb" Inherits="F_HTML_HTML_2" %>
<asp:Image ID="Image1" runat="server" ImageUrl="~/DImages/HTML_2.jpg" 
    Visible="False" />
<%=Content()%>
